<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>
        <th:block th:text="${student.getPersonalInfo().getFirstName()}"></th:block>
        <th:block th:text="${student.getPersonalInfo().getLastName()}"></th:block>
    </title>
</head>
<body>
<li layout:fragment="home-menu"><a th:href="@{/}" class="nav-link active" aria-current="page">Home</a></li>
<section layout:fragment="page-header" class="container">
    <div class="row">

        <h1 class="text-center mt-5 mb-4">
            <th:block th:text="${student.getPersonalInfo().getFirstName()}"></th:block>
            <th:block th:text="${student.getPersonalInfo().getLastName()}"></th:block>
        </h1>

    </div>

</section>

<section layout:fragment="table" class="fs-5">
    <div class="container border border-2 rounded p-4 border-danger">
        <div class="row">
            <div class="col-2 text-end fw-bold">
                Name
            </div>
            <div class="col-4 text-start">
                <th:block th:text="${student.getPersonalInfo().getLastName()}"></th:block>
                <th:block th:text="${student.getPersonalInfo().getFirstName()}"></th:block>
            </div>
            <div class="col-2 text-end fw-bold">
                Department
            </div>
            <div class="col-4 text-start">
                <a th:href="@{/department/{code}/students(code=${student.getDepartmentCode()})}"
                   class="link-body-emphasis text-decoration-none student-link">
                    <span><th:block th:text="${student.getDepartmentName()}"></th:block></span>
                </a>
            </div>

            <div class="col-2 text-end fw-bold">
                Gender
            </div>
            <div class="col-4 text-start">
                <th:block th:if="${student.getPersonalInfo().isGender()}">
                    <i class="bi bi-gender-female"></i> Female
                </th:block>
                <th:block th:unless="${student.getPersonalInfo().isGender()}">
                    <i class="bi bi-gender-male"></i> Male
                </th:block>
            </div>
            <div class="col-2 text-end fw-bold">
                Current Year
            </div>
            <div class="col-4 text-start">
                <th:block th:if="${student.getStats().isGraduatingThisYear()}">
                    <i class="bi bi-mortarboard-fill text-danger"></i>
                </th:block>
                <th:block th:if="${student.getStats().isFresher()}">
                    <i class="bi bi-lightning-charge text-primary"></i>
                </th:block>
                <th:block th:text="${student.getCurrentYearOfEducation()}"></th:block>
            </div>

            <div class="col-2 text-end fw-bold">
                Birth Date
            </div>
            <div class="col-4 text-start">
                <th:block th:text="${student.getPersonalInfo().getDateOfBirth()}"></th:block>
                <th:block th:if="${student.getStats().isBirthdayToday() == null}">
                    <i class="bi bi-exclamation-square-fill text-info" title="Birthday Indicator"></i>
                </th:block>
                <th:block th:if="${student.getStats().isBirthdayToday()}">
                    <i class="bi bi-balloon-fill text-warning ms-2"></i>
                </th:block>

            </div>
            <div class="col-2 text-end fw-bold">
                Admission Year
            </div>
            <div class="col-4  text-start">
                <th:block th:text="${student.getYearStarted()}"></th:block>
            </div>

        </div>
    </div>
    <th:block th:each="j: ${student.getJournal()}">
        <div class="container border border-2 rounded border-primary my-4">
            <div class="row bg-primary text-white py-3 justify-content-between">
                <div class="col-2 fw-bold">
                    Year #
                    <th:block th:text="${j.getYearOfEducation()}"></th:block>
                </div>
                <div class="col-3 text-center">
                    <th:block th:if="${j.getYear() == 2023}">


                        <span class="text-warning fw-bold">Scholarship:
                        <th:block th:if="${student.getYearStats(j.getYear()).getScholarshipSupportValue() == null}">
                            <i class="bi bi-exclamation-square-fill text-warning" title="Scholarship Type"></i>
                        </th:block>

                        <th:block th:unless="${student.getYearStats(j.getYear()).getScholarshipSupportValue() == null}">
                            <th:block th:text="${student.getYearStats(j.getYear()).getScholarshipSupportValue()}">
                            </th:block>
                        </th:block>
                        </span>
                    </th:block>
                </div>
                <div class="col-2 text-end">
                    <th:block th:text="${j.getYear()}"></th:block>
                </div>
            </div>
            <th:block th:each="m: ${j.getMarks()}">
                <div class="row py-2 justify-content-center">
                    <div class="col-3 fw-bold">
                        <th:block th:text="${m.getName()}"></th:block>
                    </div>
                    <div class="col-5">
                        <th:block th:each="mark: ${m.getMarks()}">
                            <th:block th:text='${mark}'></th:block>
                        </th:block>
                    </div>
                    <div class="col-2">
                        <i class="bi bi-arrow-right-short"></i>
                        <th:block th:if="${student.getAverage(j.getYear(), m.getCode()) == null}">
                            <i class="bi bi-exclamation-square-fill text-info" title="Average For This Course"></i>
                        </th:block>
                        <th:block th:unless="${student.getAverage(j.getYear(), m.getCode()) == null}">
                            <th:block
                                    th:text='${#numbers.formatDecimal(student.getAverage(j.getYear(), m.getCode()),1, 2)}'></th:block>
                        </th:block>
                    </div>
                    <div class="col-1">
                        <th:block th:if="${student.isPassed(j.getYear(), m.getCode()) == null}">
                            <i class="bi bi-exclamation-square-fill text-info" title="Passed marker"></i>
                        </th:block>
                        <th:block th:unless="${student.isPassed(j.getYear(), m.getCode()) == null}">
                            <th:block th:if="${student.isPassed(j.getYear(), m.getCode())}">
                                <span class="text-success fw-bold">Passed</span>
                            </th:block>
                            <th:block th:unless="${student.isPassed(j.getYear(), m.getCode())}">
                                <span class="text-danger fw-bold">Failed</span>
                            </th:block>
                        </th:block>
                    </div>
                </div>

            </th:block>
            <div class="row border-top border-primary pt-3 pb-2 justify-content-center" style="background-color: #eee">
                <div class="col-2 fw-bold text-end">
                    Average:
                </div>
                <div class="col-1 text-start">
                    <th:block th:if="${student.getYearStats(j.getYear()).getAverageScore() == null}">
                        <i class="bi bi-exclamation-square-fill text-info" title="Average Year Score"></i>
                    </th:block>

                    <th:block th:unless="${student.getYearStats(j.getYear()).getAverageScore() == null}">
                        <th:block
                                th:text="${#numbers.formatDecimal(student.getYearStats(j.getYear()).getAverageScore(), 1, 2)}">
                        </th:block>
                    </th:block>
                </div>
                <div class="col-2 fw-bold text-end">
                    Min Course Score:
                </div>
                <div class="col-1 text-start">
                    <th:block th:if="${student.getYearStats(j.getYear()).getMinCourseScore() == null}">
                        <i class="bi bi-exclamation-square-fill text-info" title="Minimal Course Score"></i>
                    </th:block>

                    <th:block th:unless="${student.getYearStats(j.getYear()).getMinCourseScore() == null}">
                        <th:block
                                th:text="${#numbers.formatDecimal(student.getYearStats(j.getYear()).getMinCourseScore(), 1 , 2)}">
                        </th:block>
                    </th:block>
                </div>
                <div class="col-2 fw-bold text-end">
                    Max Course Score:
                </div>
                <div class="col-1 text-start">
                    <th:block th:if="${student.getYearStats(j.getYear()).getMaxCourseScore() == null}">
                        <i class="bi bi-exclamation-square-fill text-info" title="Maximal Course Score"></i>
                    </th:block>

                    <th:block th:unless="${student.getYearStats(j.getYear()).getMaxCourseScore() == null}">
                        <th:block
                                th:text="${#numbers.formatDecimal(student.getYearStats(j.getYear()).getMaxCourseScore(), 1, 2)}">
                        </th:block>
                    </th:block>
                </div>
            </div>
            <div class="row pb-2 pt-1" style="background-color: #eee">
                <div class="col-12 fw-bold text-center">
                    <th:block th:if="${student.getYearStats(j.getYear()).isPassed() == null}">
                        <i class="bi bi-exclamation-square-fill text-info" title="Year Status Indicator"></i>
                    </th:block>

                    <th:block th:unless="${student.getYearStats(j.getYear()).isPassed() == null}">
                        <th:block th:if="${student.getYearStats(j.getYear()).isPassed()}">
                            <span class="text-success fw-bold  border rounded border-success px-4 py-3 d-inline-block">Passed</span>
                        </th:block>
                        <th:block th:unless="${student.getYearStats(j.getYear()).isPassed()}">
                            <span class="text-danger fw-bold  border rounded border-danger px-4 py-3 d-inline-block">Failed</span>
                        </th:block>
                    </th:block>
                </div>
            </div>

        </div>
    </th:block>
</section>
</body>
</html>